<ul>
    {{#database}}
    <li><div style="display:block" class="db-tree-text" name="{{dbname}}"><span style="font-size:9px;margin-right: 10px;">&#9654;</span>{{dbname}}</div>
        <ul style="display:none;">
            <li><div style="display:block" class="db-show-table-list"><span style="font-size:9px;margin-right: 10px;">&#9654;</span>Tables</div></li>
            <!--li><span style="font-size:9px;margin-right: 10px;">&#9654;</span>Views</li>
            <li><span style="font-size:9px;margin-right: 10px;">&#9654;</span>Functions</li-->
        </ul>
    </li>
    {{/database}}
</ul>