<ul>
    {{#table}}
    <li name="{{tablename}}">
        <div style="display:block" class="db-table-text">
            <span style="font-size:9px;margin-right: 10px;">&#9654;</span>{{tablename}}
        </div>
        <!--ul style="display:none">
            <li>
                <div style="display:block" class="db-trigger-text">
                    <span style="font-size:9px;margin-right: 10px;">&#9654;</span>Trigger
                </div>
            </li>
        </ul-->
    </li>
    {{/table}}
</ul>